.form-container {
    width: 85vw;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    h2 {
        color: #888;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .form_item {
        display: inline;
        margin: 10px;
    }
}