.container {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .main {
        display: flex;
        flex-direction: row;
        align-items: left;
        column-gap: 10px;
    }
}